{% extends "layout.html" %}{% from 'button/macro.njk' import button %}
{% from 'summary-list/macro.njk' import summaryList %}


{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
  
      </h2>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Symptoms of magical powers"
            },
            value: {
              text: data.hasSymptoms         
                },
            actions: {
              items: [
                {
                  href: "/magical-powers",
                  text: "Change",
                  visuallyHiddenText: "symptoms of magical powers"
                }
              ]
            }
          },
          {
            key: {
              text: "Details"
            },
            value: {
              text: data.details
            },
            actions: {
              items: [
                {
                  href: "/details",
                  text: "Change",
                  visuallyHiddenText: "details"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="/form-handler" method="post" novalidate>
        {{ button({
          text: "Are you happy"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
