{% extends "layout.html" %}

{% from 'panel/macro.njk' import panel %}
{% from "summary-list/macro.njk" import summaryList %}

{% block content %}
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

            {{ panel({
                titleText: "Order complete",
                html: "We have received your order"
            }) }}

          <p>We've received your order and will dispatch is in the next 5 working days.</p>

          <p>Go back to <a href="/start-page">start page</a>.

          <p>
        </div>
    </div>
{% endblock %}
