{% extends "layout.html" %}

{% from 'button/macro.njk' import button %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "#",
        text: "Home"
      },
      {
        href: "#",
        text: "Section"
      }
    ],
    href: "#",
    text: "Subsection"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ serviceName }}</h1>
      <p>Use this service if you noticed something unusual.</p>
      <p>You can use this service if you:</p>
      <ul>
        <li>hallucinations</li>
        <li>loss of memory</li>
        <li>need to change a thing</li>
      </ul>

      <h2>Before you start</h2>

      <p>We'll ask you for: ...</p>

      {{ button({
        text: "Start now",
        href: "/magical-powers"
      }) }}

      <p>By using this service you are agreeing to our <a href="#">terms of use</a> and <a href="#">privacy policy</a>.</p>

    </div>
  </div>
{% endblock %}