{% extends "layout.html" %}

{% from 'button/macro.njk' import button %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ serviceName }}</h1>
      <p>Use this service if you noticed something unusual.</p>
      <p>You can use this service if you have:</p>
      <ul>
        <li>hallucinations</li>
        <li>loss of memory</li>
        <li>need an extra something</li>
      </ul>

      <h2>Before you start</h2>

      <p>We'll ask you whether you have symptoms of magical powers</p>

      {{ button({
        text: "Start now",
        href: "/magical-powers"
      }) }}

      <p>By using this service you agree to no policies.</p>

    </div>
  </div>
{% endblock %}